$pink: #db0066;
$red: #ff0000;
$white: #ffffff;
$twitch: #9147ff;
$twitch-disabled: #7a63a0;
$disabled-text: #c4c4c4;
$udarkgray: #181818;
$vdarkgray: #2d2d2d;
$darkgray: #1f1f1f;
$gray: #404044;
$lightgray: #e8e8e8;

:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;

	.container {
		width: 70%;
		max-width: 600px;
		height: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;

		app-path-picker {
			margin-bottom: 40px;
		}

		.run,
		.run-disabled {
			width: fit-content;
			height: 30px;
			background-color: $twitch;
			color: $white;
			grid-area: 1 / 1 / span 1 / span 1;
			border-style: none;
			user-select: none;
			cursor: pointer;
			display: flex;
			align-self: flex-end;
		}

		.run-disabled {
			color: $disabled-text;
			background-color: $twitch-disabled;
			cursor: not-allowed;
			outline: none;
		}
	}
}
